{% extends './template.html' %}

{% block content %}

    <h1 class='mt-3'>{{ accion }}</h1>

    <form method="post" class="container mt-3">
        {% csrf_token %}
        {% for campo in form %}
            <div class='mb-3'>
                <label for="id_{{campo.name}}" class="form-label">{{ campo.label }}</label>
                {{ campo }}
            </div>
        {% endfor %}
        <a class="btn btn-danger" href="{% url url %}" role="button">Regresar</a>
        <button class="btn btn-success">Guardar</button>
    </form>

{% endblock %}